* {
  border: 1px solid black;
  text-align: center;
}

#title {
  text-align: center;
  border: none !important;
}

.parent {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 95vw;
  height: 100vh;
  border: none !important;
}

body {
  border: none !important;
  background-color: #ffffff;
}

.target {
  border-radius: 5px !important;
}

/* left */
#div1 {
  grid-area: 3 / 10 / 4 / 12;
}
#div2 {
  grid-area: 3 / 8 / 4 / 10;
}
#div3 {
  grid-area: 3 / 6 / 4 / 8;
}
#div4 {
  grid-area: 3 / 4 / 4 / 6;
}

/* down */
#div5 {
  grid-area: 4 / 3 / 6 / 4;
}
#div6 {
  grid-area: 6 / 3 / 8 / 4;
}
#div7 {
  grid-area: 4 / 2 / 6 / 3;
}
#div8 {
  grid-area: 6 / 2 / 8 / 3;
}

/* right */
#div9 {
  grid-area: 8 / 4 / 9 / 6;
}
#div10 {
  grid-area: 8 / 6 / 9 / 8;
}
#div11 {
  grid-area: 8 / 8 / 9 / 10;
}
#div12 {
  grid-area: 8 / 10 / 9 / 12;
}
#div13 {
  grid-area: 9 / 10 / 10 / 12;
}
#div14 {
  grid-area: 9 / 8 / 10 / 10;
}
#div15 {
  grid-area: 9 / 6 / 10 / 8;
}
#div16 {
  grid-area: 9 / 4 / 10 / 6;
}
#div17 {
  grid-area: 10 / 4 / 11 / 6;
}
#div18 {
  grid-area: 10 / 6 / 11 / 8;
}
#div19 {
  grid-area: 10 / 8 / 11 / 10;
}
#div20 {
  grid-area: 10 / 10 / 11 / 12;
}
#div21 {
  grid-area: 9 / 2 / 10 / 4;
}
#div22 {
  grid-area: 10 / 2 / 11 / 4;
}

#busSpot1 {
  grid-area: 1 / 13 / 2 / 14;
}
#busSpot2 {
  grid-area: 1 / 14 / 2 / 15;
}
#busSpot3 {
  grid-area: 1 / 15 / 2 / 16;
}
#busSpot4 {
  grid-area: 2 / 13 / 3 / 14;
}
#busSpot5 {
  grid-area: 2 / 14 / 3 / 15;
}
#busSpot6 {
  grid-area: 2 / 15 / 3 / 16;
}
#busSpot7 {
  grid-area: 3 / 13 / 4 / 14;
}
#busSpot8 {
  grid-area: 3 / 14 / 4 / 15;
}
#busSpot9 {
  grid-area: 3 / 15 / 4 / 16;
}
#busSpot10 {
  grid-area: 4 / 13 / 5 / 14;
}
#busSpot11 {
  grid-area: 4 / 14 / 5 / 15;
}
#busSpot12 {
  grid-area: 4 / 15 / 5 / 16;
}
#busSpot13 {
  grid-area: 5 / 13 / 6 / 14;
}
#busSpot14 {
  grid-area: 5 / 14 / 6 / 15;
}
#busSpot15 {
  grid-area: 5 / 15 / 6 / 16;
}
#busSpot16 {
  grid-area: 6 / 13 / 7 / 14;
}
#busSpot17 {
  grid-area: 6 / 14 / 7 / 15;
}
#busSpot18 {
  grid-area: 6 / 15 / 7 / 16;
}
#busSpot19 {
  grid-area: 7 / 13 / 8 / 14;
}
#busSpot20 {
  grid-area: 7 / 14 / 8 / 15;
}
#busSpot21 {
  grid-area: 7 / 15 / 8 / 16;
}
#busSpot22 {
  grid-area: 8 / 13 / 9 / 14;
}
#busSpot23 {
  grid-area: 8 / 14 / 9 / 15;
}
#busSpot24 {
  grid-area: 8 / 15 / 9 / 16;
}
#busSpot25 {
  grid-area: 9 / 13 / 10 / 14;
}
#busSpot26 {
  grid-area: 9 / 14 / 10 / 15;
}
#busSpot27 {
  grid-area: 9 / 15 / 10 / 16;
}
#busSpot28 {
  grid-area: 10 / 13 / 11 / 14;
}
#busSpot29 {
  grid-area: 10 / 14 / 11 / 15;
}
#busSpot30 {
  grid-area: 10 / 15 / 11 / 16;
}
#busSpot31 {
  grid-area: 11 / 13 / 12 / 14;
}
#busSpot32 {
  grid-area: 11 / 14 / 12 / 15;
}

#bus1 {
  grid-area: 1 / 13 / 2 / 14;
  border: none !important;
}
#bus2 {
  grid-area: 1 / 14 / 2 / 15;
  border: none !important;
}
#bus3 {
  grid-area: 1 / 15 / 2 / 16;
  border: none !important;
}
#bus4 {
  grid-area: 2 / 13 / 3 / 14;
  border: none !important;
}
#bus5 {
  grid-area: 2 / 14 / 3 / 15;
  border: none !important;
}
#bus6 {
  grid-area: 2 / 15 / 3 / 16;
  border: none !important;
}
#bus7 {
  grid-area: 3 / 13 / 4 / 14;
  border: none !important;
}
#bus8 {
  grid-area: 3 / 14 / 4 / 15;
  border: none !important;
}
#bus9 {
  grid-area: 3 / 15 / 4 / 16;
  border: none !important;
}
#bus10 {
  grid-area: 4 / 13 / 5 / 14;
  border: none !important;
}
#bus11 {
  grid-area: 4 / 14 / 5 / 15;
  border: none !important;
}
#bus12 {
  grid-area: 4 / 15 / 5 / 16;
  border: none !important;
}
#bus13 {
  grid-area: 5 / 13 / 6 / 14;
  border: none !important;
}
#bus14 {
  grid-area: 5 / 14 / 6 / 15;
  border: none !important;
}
#bus15 {
  grid-area: 5 / 15 / 6 / 16;
  border: none !important;
}
#bus16 {
  grid-area: 6 / 13 / 7 / 14;
  border: none !important;
}
#bus17 {
  grid-area: 6 / 14 / 7 / 15;
  border: none !important;
}
#bus18 {
  grid-area: 6 / 15 / 7 / 16;
  border: none !important;
}
#bus19 {
  grid-area: 7 / 13 / 8 / 14;
  border: none !important;
}
#bus20 {
  grid-area: 7 / 14 / 8 / 15;
  border: none !important;
}
#bus21 {
  grid-area: 7 / 15 / 8 / 16;
  border: none !important;
}
#bus22 {
  grid-area: 8 / 13 / 9 / 14;
  border: none !important;
}
#bus23 {
  grid-area: 8 / 14 / 9 / 15;
  border: none !important;
}
#bus24 {
  grid-area: 8 / 15 / 9 / 16;
  border: none !important;
}
#bus25 {
  grid-area: 9 / 13 / 10 / 14;
  border: none !important;
}
#bus26 {
  grid-area: 9 / 14 / 10 / 15;
  border: none !important;
}
#bus27 {
  grid-area: 9 / 15 / 10 / 16;
  border: none !important;
}
#bus28 {
  grid-area: 10 / 13 / 11 / 14;
  border: none !important;
}
#bus29 {
  grid-area: 10 / 14 / 11 / 15;
  border: none !important;
}
#bus30 {
  grid-area: 10 / 15 / 11 / 16;
  border: none !important;
}
#bus31 {
  grid-area: 11 / 13 / 12 / 14;
  border: none !important;
}
#bus32 {
  grid-area: 11 / 14 / 12 / 15;
  border: none !important;
}

/* lanes */
#div23 {
  grid-area: 8 / 12 / 9 / 13;
}
#div23 {
  border: none !important;
}

#div24 {
  grid-area: 9 / 12 / 10 / 13;
}
#div24 {
  border: none !important;
}

#div25 {
  grid-area: 10 / 12 / 11 / 13;
}
#div25 {
  border: none !important;
}

#div26 {
  grid-area: 11 / 6 / 13 / 12;
}
#div27 {
  grid-area: 3 / 1 / 9 / 2;
}
#div28 {
  grid-area: 1 / 5 / 3 / 11;
}
#div29 {
  grid-area: 4 / 4 / 8 / 12;
}
